<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add User</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body class="add-user-page">
<h1>Add User</h1>
<form th:action="@{/addUser}" th:object="${user}" method="post">
  <label>Name:</label>
  <input type="text" th:field="*{name}"/><br/>
  <label>Age:</label>
  <input type="number" th:field="*{age}"/><br/>
  <input type="submit" value="Add"/>
</form>
</body>
</html>
